<div
  class="w-full mt-2 rounded-sm text-white"
  [ngClass]="{
    'bg-[#131E29]': !isChild,
    'bg-[#475C6C]': isChild
  }"
>
  <div
    class="w-full h-1 rounded-t-sm"
    [ngClass]="{ 'bg-green-500': !isChild }"
  ></div>

  <div class="w-full flex justify-between px-5 py-1">
    <div
      class="flex gap-2"
      [ngClass]="{
        'cursor-pointer': reminder.children.length !== 0,
        'cursor-default': reminder.children.length === 0
      }"
      (click)="toggleShowChildren()"
    >
      <div class="font-light text-sm text-pretty overflow-hidden">
        {{ reminder.title }}
        <fa-icon
          *ngIf="reminder.children?.length !== 0"
          [icon]="showChildren ? faArrowDown : faArrowRight"
        />
      </div>
    </div>

    <div class="flex items-center gap-4">
      <fa-icon
        class="cursor-pointer hover:text-red-500"
        (click)="!isChild ? onDelete() : onDeleteChild()"
        [icon]="faTrash"
      ></fa-icon>
      <fa-icon [icon]="faClipboard"></fa-icon>
      <fa-icon
        class="cursor-pointer hover:text-green-600"
        (click)="showAddReminderChild()"
        [icon]="faPlus"
      ></fa-icon>
    </div>

  </div>

  @if (showChildren) {

  <div
    class="p-2 rounded-sm"
    [ngClass]="{
      'bg-[#141414]': isEvenChild % 2 === 0,
      'bg-[#25282A]': isEvenChild % 2 !== 0
    }"
  >
    @if (showAddChildInput) {
    <shared-input
      placeholder="Anything else you would like to remember?"
      (saveInputValue)="onAddChild($event)"
      [isChild]="true"
    >
    </shared-input>

    }

    <home-card
      *ngFor="let reminder of reminder.children; let i = index"
      (onDeleteChildReminder)="handleDeleteChild($event)"
      [cardIndex]="i"
      [reminder]="reminder"
      [isChild]="true"
      [isEvenChild]="isEvenChild + 1"
    ></home-card>
  </div>

  }
</div>
