<div
  class="w-full mt-2 rounded-sm text-white card shadow-red-600"
  (mouseleave)="isDropdownOpen = false"
  [ngClass]="{
    'bg-[#131E29]': !isChild,
    'bg-[#475C6C]': isChild
  }"
>
  <div
    class="w-full h-1 rounded-t-sm"
    [ngClass]="{ 'bg-green-500': !isChild }"
  ></div>

  <div class="w-full flex justify-between px-5 gap-2 py-1">
    <div
      class="flex w-full gap-2"
      [ngClass]="{
        'cursor-pointer': reminder.children.length !== 0,
        'cursor-default': reminder.children.length === 0
      }"
      (click)="toggleShowChildren()"
    >
      <div
        class="font-light text-sm flex justify-between items-center overflow-hidden w-full"
      >
        <span class="text-ellipsis text-pretty w-fit" >
          {{ reminder.title }}
        </span>
        <fa-icon
          class="pl-2"
          *ngIf="reminder.children?.length !== 0"
          [icon]="showChildren ? faArrowDown : faArrowRight"
        />
      </div>
    </div>

    <div class="flex flex-col items-center gap-2 justify-between">
      <div class="min-h-1">
        <shared-dropdown
          [isOpen]="isDropdownOpen"
          (toggleDropdown)="toggleDropdown()"
          [items]="dropdownItems"
          class="hidden dropdown relative"
        />
      </div>

      <fa-icon
        class="cursor-pointer hover:text-green-600"
        (click)="showAddReminderChild()"
        [icon]="faPlus"
      ></fa-icon>
    </div>
  </div>

  @if (showChildren) {

  <div
    [@fadeInOut]
    class="p-2 rounded-sm overflow-hidden"
    [ngClass]="{
      'bg-[#141414]': isEvenChild % 2 === 0,
      'bg-[#25282A]': isEvenChild % 2 !== 0
    }"
  >
    @if (showAddChildInput) {
    <shared-input
      placeholder="An other thing to remember?"
      (saveInputValue)="onAddChild($event)"
      [isChild]="true"
    >
    </shared-input>

    }

    <home-card
      *ngFor="let reminder of reminder.children; let i = index"
      (onDeleteChildReminder)="handleDeleteChild($event)"
      [cardIndex]="i"
      [reminder]="reminder"
      [isChild]="true"
      [isEvenChild]="isEvenChild + 1"
    ></home-card>
  </div>

  }
</div>
