<div class="flex gap-1 opacity-50 hover:opacity-100" (click)="emitToggle()" >
    <div class="h-1 w-1 bg-white  rounded-full "></div>
    <div class="h-1 w-1 bg-white  rounded-full "></div>
    <div class="h-1 w-1 bg-white  rounded-full "></div>
</div>


<div *ngIf="isOpen" class="absolute z-10 bg-white text-black top-6 right-4 px-4 py-2 rounded-sm">

    <label *ngFor="let item of items" class="hover:bg-[#ccc] w-full flex gap-2 rounded-sm px-2" (click)="item.click()"  >
    
        <fa-icon [icon]="item.icon"></fa-icon>  {{ item.label }} 
    
    </label>

</div>